@use "../core/variables";


.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 16px;
  gap: 32px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__brand {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
  }

  &__icon {
    width: 40px;
    height: 40px;
    background-color: variables.$color-dusk;
    padding: 5px;
    border-radius: 50%;
  }

  &__text {
    color: #000000;
    font: variables.$font-title-brand;
    font-size: 1.2rem;
  }

  &__adalab {
    width: 90px;
  }

  &__hero {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-inline: 2rem;
  }

  &__hero-title {
    font: variables.$font-title-biggest;
    color: variables.$color-white;
  }

  &__hero-subtitle {
    color: variables.$color-white;
    font: variables.$font-text-big;
  }

  &__hero-button {
    background-color: variables.$color-dark-lilac;
    color: variables.$color-white;
    width: 20%;
    padding: 8px 20px;
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
    text-align: center;

    &:hover {
      background-color: variables.$color-dark-lilac;
      color: variables.$color-white;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding: 24px 32px;

    &__icon {
      width: 40px;
      height: 40px;
    }

    &__text {
      font-size: 1.4rem;
    }

    &__adalab {
      width: 120px;
    }

    &__hero {
      gap: 1.5rem;
      margin-inline: 6rem;
    }
  }
}
