@use '../core/variables';
.sectionButton {
  padding: 2rem;
  text-align: center;
}
.button--preview {
   background-color: variables.$color-white;
    border: none;
    font-size: 5.5rem;
    border-radius: 40px;
    padding: 1rem 1.5rem;
    color: variables.$color-greyish-brown-88;;
    cursor: pointer;
    font: variables.$font-button;

    &:hover {
       background-color: variables.$color-dark-lilac;
       color: variables.$color-white;
    }
}